<h1>Genres</h1>
<div class="table mx-auto">
  <div class="table-header-group">
    <div class="table-cell">
      Name
    </div>
    <div class="table-cell">
      Actions
    </div>
  </div>
  <div class="table-row-group">
    <% @genres.each do |genre| %>
      <div class="table-row">
        <div class="table-cell py-2 pr-6"><%= genre.name %></div>
        <div class="table-cell">Edit</div>
        <div class="table-cell">Delete</div>
      </div>
    <% end %>
  </div>
</div>
<h2>Create a Genre</h2>
<%= render 'form', genre: @genre  %>
