<div class="grid grid-cols-1 divide-y">
  <% @movies.each do |movie| %>
    <section class="py-3">
      <h2><%= link_to movie.title, movie %></h2>
      <h3><%= total_gross(movie) %></h3>
      <p>
        <%= truncate(movie.description, length: 150, seperator: ' ') %>
      </p>
    </section>
  <% end %>
</div>
<section class="admin mt-10">
  <%= link_to "New", new_movie_path, class: "btn btn-primary" %>
</section>
