<div class="star-rating relative h-6 overflow-hidden">
  <div class="absolute text-gray-300 top-0 left-0 right-0 bottom-0 ml-0 w-100">
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
  </div>
  <div class="absolute text-yellow-500 top-0 left-0 right-0 bottom-0 ml-0" style="width: <%= percent %>%">
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
  </div>
</div>
