<h1>Reviews for   <%= link_to @movie.title, @movie %></h1>
<div class="grid grid-cols-1 divide-y">
  <% @reviews.each do |review| %>
    <%= render 'review', movie: @movie, review: review %>
  <% end %>
</div>
<section class="admin mt-10">
  <%= link_to "New", new_movie_review_path, class: "btn btn-primary" %>
</section>
